/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .body{
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    align-items: center;
  }
.containerOne{
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background-color: yellow;
}
.input{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  padding-bottom: 10px;
  
}
  .layerOne{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    cursor: pointer;
    
  }

  .layerFour{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
  .layerFive{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }

  .buttonOne, .buttonTwo, .buttonThree,.buttonFour, .buttonFive, .buttonSix ,.buttonSeven ,.buttonEight
  ,.buttonNine ,.buttonZero{
    border: 1px solid red;
  }